body {
	background-color: #D3D3D3;
}
.top-buffer { 
	margin-top:20px; 
}
.navbar-nav a.active {
	font-weight: bold;
}
.city-link:focus, .city-link:hover {
	text-decoration: none;
}
.img-thumbnail.weather-icon {
	background: #DFF0D8;
}
#loading {
	display: none;
}