body {
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.top-buffer { 
	margin-top:20px; 
}
.navbar-nav a.active {
	font-weight: bold;
}
.btn-link.city-link {
	white-space: normal;
}
.btn-link.city-link:focus, .btn-link.city-link:hover {
	text-decoration: none;
}
.img-thumbnail.weather-icon {
	background: #DFF0D8;
}
.temp-info {
	color: #A94869;
}
#loading {
	display: none;
}